#####################################################
#
# List of approvers for instruct-lab/taxonomy repository
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @instruct-lab/taxonomy-maintainers @instruct-lab/taxonomy-approvers

# taxonomy folders owned by taxonomy-approvers
/compositional_skills/ @instruct-lab/taxonomy-approvers
/foundational_skills/ @instruct-lab/taxonomy-approvers
/knowledge/ @instruct-lab/taxonomy-approvers
/synthetic_data/ @instruct-lab/taxonomy-approvers
