#####################################################
#
# List of approvers for instruct-lab/cli repository
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @instruct-lab/taxonomy-approvers
*.md   @mairin @juliadenham @kelbrown20 @instruct-lab/taxonomy-approvers
/.github/ @instruct-lab/taxonomy-maintainers @instruct-lab/taxonomy-approvers
/docs/ @mairin @juliadenham @kelbrown20 @instruct-lab/taxonomy-approvers
