#####################################################
#
# List of approvers for instruct-lab/cli repository
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

/docs/ @mairin @juliadenham
*.md   @mairin @juliadenham
* @instruct-lab/taxonomy-approvers
