# SPDX-License-Identifier: Apache-2.0

name: Lint compositional_skills and knowledge

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - compositional_skills/**/qna.yaml
      - knowledge/**/qna.yaml
      - '.github/workflows/lint.yml' # This workflow
      - 'scripts/**' # Scripts used by this workflow

  pull_request:
    branches:
      - main
    paths:
      - compositional_skills/**/*.yaml
      - compositional_skills/**/*.yml
      - knowledge/**/*.yaml
      - knowledge/**/*.yml
      - '.github/workflows/lint.yml' # This workflow
      - 'scripts/**' # Scripts used by this workflow

env:
  LC_ALL: en_US.UTF-8

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - name: "Harden Runner"
        uses: step-security/harden-runner@0d381219ddf674d61a7572ddd19d7941e271515c # v2.9.0
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: "Checkout"
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          fetch-depth: 0

      - name: "Setup Python"
        uses: actions/setup-python@39cd14951b08e74b54015e9e001cdefcf80e669f # v5.1.1
        with:
          python-version: "3.11"

      - name: "Install Python Packages"
        run: |
          pip install -r scripts/requirements.txt

      - name: "Find changed skills and knowledge files"
        id: changed-files
        uses: tj-actions/changed-files@cc733854b1f224978ef800d29e4709d5ee2883e4 # v44.5.5
        with:
          files: |
            compositional_skills/**/*.yaml
            compositional_skills/**/*.yml
            knowledge/**/*.yaml
            knowledge/**/*.yml

      - name: "Check changed YAML file contents"
        if: ${{ fromJSON(steps.changed-files.outputs.any_changed) }}
        run: |
          scripts/check-yaml.py ${{ steps.changed-files.outputs.all_changed_files }}
        env:
          YAMLLINT_CONFIG: "{extends: relaxed, rules: {line-length: {max: 120}}}"
          TAXONOMY_FOLDERS: >-
            compositional_skills
            knowledge

      - name: "Check all YAML file contents"
        if: ${{ !fromJSON(steps.changed-files.outputs.any_changed) }}
        run: |
          read -ra folders <<< "${TAXONOMY_FOLDERS}"
          # shellcheck disable=SC2046
          scripts/check-yaml.py $(find "${folders[@]}" -name "qna.yaml" -print)
        env:
          YAMLLINT_CONFIG: "{}" # No lint rules
          SCHEMA_VERSION: 0 # use the schema version specified in the "version" key
          TAXONOMY_FOLDERS: >-
            compositional_skills
            knowledge

      - name: "Save Pull Request number"
        if: ${{ (github.event_name == 'pull_request') && (github.repository == 'instructlab/taxonomy') }}
        run: |
          echo "${PULL_REQUEST_NUMBER}" > pull_request_number.txt
        env:
          PULL_REQUEST_NUMBER: ${{ fromJSON(steps.changed-files.outputs.any_changed) && github.event.number || '0' }}

      - name: "Upload Pull Request number"
        if: ${{ (github.event_name == 'pull_request') && (github.repository == 'instructlab/taxonomy') }}
        uses: actions/upload-artifact@0b2256b8c012f0828dc542b3febcab082c67f72b # v4.3.4
        with:
          name: pull_request_number
          path: pull_request_number.txt
          if-no-files-found: error
          retention-days: 5
