# SPDX-License-Identifier: Apache-2.0

name: Lint

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - compositional_skills/**/qna.yaml
      - knowledge/**/qna.yaml
      - '.github/workflows/lint.yml' # This workflow
      - '.github/scripts/**' # Scripts used by this workflow

  pull_request:
    branches:
      - main
    paths:
      - compositional_skills/**/*.yaml
      - compositional_skills/**/*.yml
      - knowledge/**/*.yaml
      - knowledge/**/*.yml
      - '.github/workflows/lint.yml' # This workflow
      - '.github/scripts/**' # Scripts used by this workflow

env:
  LC_ALL: en_US.UTF-8

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: "Harden Runner"
        uses: step-security/harden-runner@a4aa98b93cab29d9b1101a6143fb8bce00e2eac4 # v2.7.1
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

      - name: "Checkout"
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
        with:
          fetch-depth: 0
          submodules: true

      - name: "Setup Python"
        uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d # v5.1.0
        with:
          python-version: "3.11"

      - name: "Install Python Packages"
        run: |
          pip install -r .github/scripts/requirements.txt

      - name: "Find changed skills and knowledge files"
        id: changed-files
        uses: tj-actions/changed-files@1754cd4b9e661d1f0eced3b33545a8d8b3bc46d8 # v44.5.0
        with:
          files: |
            compositional_skills/**/*.yaml
            compositional_skills/**/*.yml
            knowledge/**/*.yaml
            knowledge/**/*.yml

      - name: "Check changed YAML file contents"
        if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        run: |
          .github/scripts/check-yaml.py ${{ steps.changed-files.outputs.all_changed_files }}
        env:
          SCHEMA_BASE: schema
          YAMLLINT_CONFIG: "{extends: relaxed, rules: {line-length: {max: 120}}}"
          TAXONOMY_FOLDERS: >-
            compositional_skills
            knowledge

      - name: "Save Pull Request number"
        if: ${{ (github.event_name == 'pull_request') && (github.repository == 'instructlab/taxonomy') }}
        run: |
          echo "${PULL_REQUEST_NUMBER}" > pull_request_number.txt
        env:
          PULL_REQUEST_NUMBER: ${{ steps.changed-files.outputs.any_changed == 'true' && github.event.number || '0' }}

      - name: "Upload Pull Request number"
        if: ${{ (github.event_name == 'pull_request') && (github.repository == 'instructlab/taxonomy') }}
        uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4.3.3
        with:
          name: pull_request_number
          path: pull_request_number.txt
          if-no-files-found: error
          retention-days: 5
